<%- model_class = SupplyShipment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:rcvd) %></th>
      <th><%= model_class.human_attribute_name(:return) %></th>
      <th><%= model_class.human_attribute_name(:supply_id) %></th>
      <th><%= model_class.human_attribute_name(:supplier_id) %></th>
      <th><%= model_class.human_attribute_name(:ship_date) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @supply_shipments.each do |supply_shipment| %>
      <tr>
        <td><%= link_to supply_shipment.id, supply_shipment_path(supply_shipment) %></td>
        <td><%= supply_shipment.rcvd %></td>
        <td><%= supply_shipment.return %></td>
        <td><%= supply_shipment.supply.name %></td>
        <td><%= supply_shipment.supplier.name %></td>
        <td><%= supply_shipment.ship_date %></td>
        <td><%=l supply_shipment.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_supply_shipment_path(supply_shipment), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      supply_shipment_path(supply_shipment),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_supply_shipment_path,
            :class => 'btn btn-primary' %>
