<%- model_class = ProductionRun -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:producer_id) %></th>
      <th><%= model_class.human_attribute_name(:product_id) %></th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th><%= model_class.human_attribute_name(:mfgd_date) %></th>
      <th><%= model_class.human_attribute_name(:expiry_date) %></th>
      <th><%= model_class.human_attribute_name(:lot_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @production_runs.each do |production_run| %>
      <tr>
        <td><%= link_to production_run.id, production_run_path(production_run) %></td>
        <td><%= production_run.producer.name %></td>
        <td><%= production_run.product.name %></td>
        <td><%= production_run.amount %></td>
        <td><%= production_run.mfgd_date %></td>
        <td><%= production_run.expiry_date %></td>
        <td><%= production_run.lot_id %></td>
        <td><%=l production_run.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_production_run_path(production_run), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      production_run_path(production_run),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_production_run_path,
            :class => 'btn btn-primary' %>
