<%= form_for @product_shipment, :html => { :class => "form-horizontal product_shipment" } do |f| %>

  <% if @product_shipment.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@product_shipment.errors.count, "error") %> prohibited this product_shipment from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @product_shipment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :sent, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :sent, :class => 'form-control' %>
    </div>
    <%=f.error_span(:sent) %>
  </div>
  <div class="form-group">
    <%= f.label :return, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :return, :class => 'form-control' %>
    </div>
    <%=f.error_span(:return) %>
  </div>
  <div class="form-group">
    <%= f.label :product_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
    <%= f.collection_select(:product_id, Product.all, :id, :name, :class => 'form-control') %>
    </div>
    <%=f.error_span(:product_id) %>
  </div>
  <div class="form-group">
    <%= f.label :customer_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
    <%= f.collection_select(:customer_id, Customer.all, :id, :name, :class => 'form-control') %>
    </div>
    <%=f.error_span(:customer_id) %>
  </div>
  <div class="form-group">
    <%= f.label :ship_date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :ship_date, :class => 'form-control' %>
    </div>
    <%=f.error_span(:ship_date) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                product_shipments_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
