<%- model_class = ProductShipment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:sent) %>:</strong></dt>
  <dd><%= @product_shipment.sent %></dd>
  <dt><strong><%= model_class.human_attribute_name(:return) %>:</strong></dt>
  <dd><%= @product_shipment.return %></dd>
  <dt><strong><%= model_class.human_attribute_name(:product_id) %>:</strong></dt>
  <dd><%= @product_shipment.product_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:customer_id) %>:</strong></dt>
  <dd><%= @product_shipment.customer_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ship_date) %>:</strong></dt>
  <dd><%= @product_shipment.ship_date %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              product_shipments_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_product_shipment_path(@product_shipment), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              product_shipment_path(@product_shipment),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
