<!DOCTYPE html>
<html>
<head>
  <title>AfcDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
        <a class="brand" href="#">Apex Food Company</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Browse Products", products_path %></li>
          </ul>
        </div>
  </div>
</nav>
<div class="container">
<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <a class="close" data-dismiss="alert">×</a>
    <%= msg %>
  </div>
<% end %>
  <div class="row">
    <div class="span9"><%= yield %></div>
  </div>
</div>
</body>
</html>
